* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: 	#d6e2f0;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

#content {
    margin: auto;
    margin-top: 150px;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 30px #7b879d;
}

#top img {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 270px;
    flex-direction: row;
    flex-basis: 20%;
    border-radius: 10px;
}

#middle {
    display: flex;
    width: 250px;
    margin: auto;
    font-size: 20px;
    flex-direction: row;
    color: 	#1f3251;
}

#bottom {
    display: flex;
    width: 250px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    flex-direction: row;
    color: 	#7b879d;
}